html {
    background: linear-gradient(#80bfff, #3399ff);
    height: 100%;
}

#word {
    text-align: center;
    font-size: 48px;
    font-color: black;
    font-family: Century-Gothic, sans-serif;
}

div {
    margin: auto; background-color: azure;  width: 600px; 
}

.myButton {
	background-color: slategray;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: Century-Gothic, sans-serif;
	font-size:15px;
	padding: 4px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #52442e;
}

#Settings {
    text-align: right; color:azure; font-family: Century-Gothic, sans-serif; font-size: 15px; text-decoration: underline; 
}

#team {
    display: inline-block;
    padding: 8px; background-color: lightslategray; font-family: Century-Gothic, sans-serif; font-size: 20px; box-shadow: 5px; color: azure; height: 100px; width:100px;
}

#time {
    font-size: 48px; font-family: Century-Gothic, sans-serif;
}
#score + .myButton {
    margin-left: 325px;
}

.myButton + #score {
    margin-left: 325px;
}

span + #new {
    margin-left: 350px;
}

#new + span{
    margin-left: 350px;
}


